input {
  outline: none;
}
.first-task div {
  margin: 10px 0;
  text-align: center;
}
.first-task h1 {
  text-align: center;
}
.first-task div label {
  margin: 0 10px 0 0;
}
.first-task div input[type=text] {
  padding: 6px 10px;
  border-radius: 10px;
  border: 1px solid #000033;
}
.first-task div input[type=button] {
  padding: 6px 10px;
  border-radius: 10px;
  font-size: 16px;
  border: 1px solid #000033;
  cursor: pointer;
}
.second-task {
  margin-top: 50px;
 text-align: center;
}