body {
	font-family: "RalewayRegular", sans-serif;
	font-size: 16px;
	min-width: 320px;
}
/*BUTTONS*/
.my_btn{
	background-color: #e84545;
	border:none;
	text-transform: uppercase;
}
.my_btn_md{
	padding: 10px 30px;
}


/*HEADER*/
header{
	height: 680px;
	background-image: url(../img/banner.jpg);
	-webkit-background-size: cover;
	background-size: cover;
}

nav{
	height: 94px;
	line-height: 94px;
}
.menu{
	list-style-type: none;
}
.menu li{
	display: inline-block;
	padding: 0 30px;
}
.menu li a{
	text-transform: uppercase;
	color:#fff;
	font-family: 'RailwayBold', sans-serif;
}
.menu li a:hover, menu li a:focus{
	color:gray;
	text-decoration: none;
}
.top_line{
	height: 1px;
	background-color: gray;
}
.logo{
	padding-top: 35px;
}
.title_block{
	color:#fff;
	text-align: center;
	margin-top: 100px;
}
.title_block h1{
	color:#fff;
	font-size: 50px;
	font-family: 'RailwayBold', sans-serif;
	margin-bottom: 30px;
}
.title_block p{
	font-size: 18px;
	margin-bottom: 50px;
}