* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: 16px;
}
.carousel-list {    
    list-style: none;
    width: 10000px;
    position: relative;
}
 .carousel-hide{
 	overflow: hidden;
 	width: 1200px;
 	margin: 20px auto;
 }
.carousel-element {
    display: block;
    margin-right: 25px;
	display: inline-block;
}
.carousel-element img {
    max-width: 400px;
}
.carousel-element p{
	text-align: center;
}
.carousel-arrow-left, .carousel-arrow-right {
    display: inline-block;
    text-align: center;
    width: 100px;
}
.arrow-wrapper{
	margin: 30px auto;
	text-align: center;
}
.carousel-arrow-left, .carousel-arrow-right{
	width:86px;
	height: 86px;
	cursor:pointer;
	transition:all 0.4s ease;
}
.carousel-arrow-left{
	background-image: url(../img/arrow-sprite.png);
	background-position: 0 98px;
}
.carousel-arrow-left:hover{
	background-image: url(../img/arrow-sprite-hover.png);
	background-position: 0 98px;
}
.carousel-arrow-right{
	background-image: url(../img/arrow-sprite.png);
	background-position: 0 0;
}
.carousel-arrow-right:hover{
	background-image: url(../img/arrow-sprite-hover.png);
	background-position: 0 0;
}

/*profile*/

p, li{
	font-size:18px;
}
.wrapper{
	width:510px;
	margin:0 auto;
	padding-top:30px;
	text-align: center;
	background: ghostwhite;
}
section.aboutme, section.whyfrontend, section.contacts {
	border-bottom: 1px solid gray;
}

section.whyfrontend, section.contacts, section.feedback{
	padding:30px 0px 10px 0;
	text-align: left;
}
section.aboutme h3{
	padding-bottom:10px;
}
section.aboutme img{
	width:165px;
	height:155px;
	padding-bottom:10px;
}
section.aboutme p, section.whyfrontend p, section.contacts p, section.contacts a, section.feedback p{
	padding-left: 50px;
}
section.aboutme p, section.contacts p:first-child, section.contacts p:nth-child(3), section.feedback p{
	text-align: left;
	padding-bottom:10px;
}
section.whyfrontend ul{
	padding-left:80px
}
section.whyfrontend ul li{
	padding-top:15px
}
section.contacts p:nth-child(3){
	padding-top:20px;
}
section.feedback p{
}
section.feedback{
	padding-bottom:30px;
}