*, html, body, h1, a{
    margin:0;
	padding:0;
	outline:none;
	box-sizing: border-box;
}
body {
    text-align: center;
}

div {
    color: #c94a68;
}

.hide {
    display: none;
}

.wrapper {
    border: 1px solid #ddd;
    margin: 50px auto 20px;
    width: 560px;
    text-align: center;
	box-sizing:border-box;
}

.position {
    display: inline-block;
    margin-top: 35px;
}

.btn-size {
    width: 100px;
    border-radius: 20px;
}

.btn-position {
    margin: 0 10px 0;
}
.row-tab{
	background:#ddd;
	border:1px solid #999;
	box-sizing:border-box;
}
.tab-block{
	border:1px solid #999;
	padding:20px;
	box-sizing:border-box;
	cursor:pointer;
	color:#858484;
}
.tab-block:hover{
	background:#858484;
	color:#fff;
}
.blue{
	background:#9eccf6;
}
.text-block{
	padding:20px;
	display:none;
}
#text0{
	display:block;
}
.active-tab{
	background:blue;
}