@charset "utf-8";
/* CSS Document */
*, body, html{
	padding:0;
	margin:0;
	outline:none;
}
body{
	background:black;
}
ul{
	list-style:none;
}
li a{
	color:white;
	text-decoration:none;
	font-family: 'Cuprum', sans-serif;
}
#wrapper{
	width:1188px;
	margin:0 auto;
	background:-webkit-linear-gradient(270deg, #020202 0%, #161616 25%, #020202 40%);
}
header{
	width:100%;
	height:343px;
	background:url(../images/bg-header.png) no-repeat;
	position:relative;
}
.top-line{
	width:100%;
	height:28px;
	background:url(../images/top-line.png) repeat-x;
	box-shadow:1px 2px 4px black;
}
.menu-container{
	width:992px;
	height:69px;
	background:url(../images/bg-top-menu.png) repeat-x;
	position:absolute;
	top:0px;
	right:97px;
	border-radius:0 0 12px 12px;
}
.menu-border-container{
	width:988px;
	height:66px;
	border-radius:0 0 10px 10px;
	border:1px solid #343434;
	margin:0 auto;
}
.logo{
	width:210px;
	height:53px;
	display:inline-block;
	background:url(../images/bg-logo.png) no-repeat;
	margin-bottom:13px;
}
.top-menu{
	display:inline-block;
}
.logo img{
	float:left;
	margin:7px 0px 0 25px;
}
.logo h2{
	float:right;
	text-transform:uppercase;
	font-family: 'Pathway Gothic One', sans-serif;
	font-size:24px;
	color:#b85200;
	margin:13px 35px 0 0px;
	letter-spacing: 1px;	
}
.logo h2 a{
	text-decoration:none;
	color:#b85200;
}
.logo h2 a:hover{
	color:#c87838;
}
nav.top-menu ul li, nav.menu-search ul li{
	float:left;
}
nav.top-menu ul li{
	padding:25px 24px 23px 25px;
	position:relative;
	border-bottom:1px solid transparent;
}
nav.top-menu ul li a, nav.bottom-menu ul li a{
	text-decoration:none;
	font-size:12px;
	text-transform:uppercase;
}
nav.top-menu ul li a{
	font-weight:bold;
}
nav.top-menu ul li:hover{
	background:-webkit-radial-gradient(50% 70%, #dfaa4e 0%, #d3790d 65%);
	opacity:.9;
}
nav.top-menu ul li:hover:last-child{
	padding-right:27px;
	border-radius:0 0 10px 0;
}
nav.top-menu ul li:hover:before{
	content:"";
	width:100%;
	height:14px;
	left:0px;
	bottom:0;
	background:#44280f;
	position:absolute;
}
nav.top-menu ul li:hover:after{
	content:"";
	width:100%;
	height:2px;
	right:0px;
	bottom:-0.9px;
	background:-webkit-radial-gradient(50% 70%, #f2c6a3 0%, #604733 65%);
	position:absolute;
}
nav.top-menu ul li:hover:last-child:before{
	border-radius:0 0 10px 0;
}
nav.top-menu ul li:hover:last-child:after{
	width:94%;
	right:5px;
}
nav.bottom-menu{
	width:817px;
	background:black;
	border:1px solid #343434;
	position:absolute;
	bottom:-5px;
	left:180px;
	opacity:.9;
	padding:13px 0 17px 0px;
	border-radius:10px 10px 0 0;
	box-shadow:-1px -2px 2px black;
	z-index:1;
	justify-content:center;
	display:flex;
}

nav.bottom-menu ul li{
	float:left;
	margin-right:17px;
	position:relative;
}
nav.bottom-menu ul li a:hover{
	text-decoration:underline;
}
nav.bottom-menu:before{
	content:"";
	width:100%;
	height:3px;
	position:absolute;
	bottom:1px;
	left:0px;
	background:#0F0F0F;
}
.main-container{
	width:992px;
	margin:3px auto auto auto;
	position:relative;
	z-index:2;
}
.search-container{
	width:100%;
	height:48px;
	border-radius:10px 10px 0 0;
	background:-webkit-linear-gradient(270deg, #4c4c4c 0%, #0a0a0a 38%, #0a0a0a 65%, #4c4c4c 100%);
	box-shadow:-1px 1px 1px black;
	position:relative;
	margin-bottom:17px;
}
.search-block{
	width:975px;
	height:44px;
	position:relative;
	margin:0 auto 0 auto;
	top:5px;
	background:-webkit-linear-gradient(270deg, #575757 5%, #1f1f1f 45%, #1f1f1f 70%, #575757 100%);
	border-radius:10px 10px 0 0;
	box-shadow:-1px 1px 1px black;
	border-top:1px solid #2e2d2d;
}
.search-title, .search-box{
	display:inline-block;
	vertical-align:top;
}
.search-title{
	text-transform:uppercase;
	font-family: 'Pathway Gothic One', sans-serif;
	font-size:14.67px;
	font-weight:bold;
	color:#b85200;
	margin:13px 35px 0 75px;
	letter-spacing: 1px;	
	text-decoration:none;
}
.search-title:hover{
	color:#c87838;
}
.search-box{
	width:305px;
	height:25px;
	border:1px solid #565656;
	border-radius:11px;
	margin:10px 0 0 45px;
}
nav.menu-search{
	display:inline-block;
}
nav.menu-search ul li{
	padding:14px 13px 18px 12px;
	margin:0 10px 0 10px;
	position:relative;
}
nav.menu-search ul li:first-child:after, nav.menu-search ul li:nth-child(2):after{
	content:"";
	position:absolute;
	width:2px;
	height:10px;
	border-left:2px dotted grey;
	bottom:23px;
	right:-10px;
}
nav.menu-search ul li a{
	
	font-size:13.34px;
	color:#707070;
	text-decoration:none;
	letter-spacing:-1px;
	text-transform:uppercase;
}
nav.menu-search a.active-link{
	color:#dc8c00;
}
nav.menu-search ul li a:hover{
	text-decoration:underline;
}
.search-box input{
	width:100%;
	font-family: 'Cuprum', sans-serif;
	font-size:12px;
	font-style:italic;
	background:transparent;
	border:none;
	padding:5px 30px 0 15px;
}

/*контейнер из трех блоков находится под поиском */
.top-block-container{
	width:100%;
	height:180px;
	overflow:hidden;
}
.top-block-content{
	width:32.86%;
	height:178px;
	background:url(../images/top-block-cont.png) no-repeat;
	background-size:contain;
	float:left;
	border:1px solid #272727;
	position:relative;
	margin-right:4px;
}
.top-block-content a:hover{
		color:white;
}
.top-block-content:last-child{
	margin-right:0px;
}
.top-block-content ul li a:hover{
	text-decoration:underline;
}
a.block-title{
	width:36%;
	font-family: 'Cuprum', sans-serif;
	font-size:13.34px;
	text-transform:uppercase;
	text-decoration:none;
	color:#626262;
	margin:10px 0 10px 42px;
	display:block;
	position:relative;
}
#new:before, #best:before, #top:before{
	content:"";
	width:30px;
	height:27px;
	position:absolute;
	top:-6px;
	left:-30px;
}
#new:before{
	background:url(../images/icon-top-block.png);
}
#best:before{
	background:url(../images/icon-top-block2.png);
}
#top:before{
	background:url(../images/icon-top-block3.png);
}
.top-block-content:before{
	content:"";
	width:1px;
	height:100%;
	background:-webkit-linear-gradient(270deg, #2f2f2f 0%, #2c2c2c 30%, #cfcfcf 50%, #4d4d4d 70%, #2f2f2f 100%);
	display:block;
	position:absolute;
	left:-1px;
	top:0px;
}
.top-block-content ul{
	width:252px;
	height:115px;
	background:url(../images/tob-block-cont2.png);
	background-size:contain;
	margin:0 auto;
	padding:15px 0 0 38px;
	position:relative;
}
.top-block-content ul li{
	position:relative;
}
.top-block-content ul li:before{
	content:"";
	width:9px;
	height:11px;
	background:url(../images/strelki.png);
	position:absolute;
	top:0px;
	left:-20px;
}
.top-block-content ul li a{
	text-decoration:none;
	font-family:'Arial', sans-serif;
	font-size:10.67px;
	display:block;
	padding:0 0 9px 0;
}
/*контейнер с основным контентом: состоит из левого сайдбара, центральной области и правого сайдбара*/
.center-container{
	width:99%;
	background:#1f1f1f;
	padding:12px 5px 0 5px;
}
/*левый сайдбар*/

.left-sidebar{
	width:209px;
	height:236px;
	display:inline-block;
}
#nav1 p, #nav2 p, #rekl1 p{
	width:191px;
	height:27px;
	font-family: 'Cuprum', sans-serif;
	letter-spacing:-0.7px;
	text-transform:uppercase;
	font-weight:bold;
	padding:13px 0 0 18px;
	font-size:14px;
}
#nav1 p{
	background:url(../images/bg-title-sidebar.png);
	}
#nav2 p{
	background:url(../images/bg-title-sidebar2.png);
}
#rekl1 p{
	background:url(../images/bg-title-sidebar2.png);
}
.navigation{
	background:#1a1a1a;
}
.left-sidebar ul{
	margin:12px 0 0 12px;
}
.left-sidebar ul li{
	width:95%;
	padding:7px 0px;
	border-bottom:1px dashed black;
	position:relative;
}
.left-sidebar ul li:first-child{
	padding-top:0px;
}
#nav1 ul li:first-child:before, #nav2 ul li:first-child:before{
	content:"";
	width:9.8px;
	height:11px;
	background:url(../images/strelki.png);
	position:absolute;
	top:5px;
	left:0px;
}
#nav1 ul li:before, #nav2 ul li:before{
	content:"";
	width:9.8px;
	height:11px;
	background:url(../images/strelki.png);
	position:absolute;
	top:11px;
	left:0px;
}
.left-sidebar ul li a{
	padding:0px 0px 0px 15px;
}
.left-sidebar ul li a:hover{
	text-decoration:underline;
}
div.navigation a{
	display:block;
	padding:10px 13px;
}

/*центральная часть, блок со слайдером*/
.main-content{
	width:552px;
	height:auto;
	display:inline-block;
	vertical-align:top;
	margin-left:5px;
	
}
.slider-box{
	width:100%;
	height:258px;
	position:relative;
}
.slider-box:before{
	content:"";
	width:552px;
	height:17px;
	background:url(../images/slider-top-line.png);
	position:absolute;
	top:0px;
	left:0px;
}
.slider-box:after{
	content:"";
	width:552px;
	height:17px;
	background:url(../images/slider-bottom-line.png);
	position:absolute;
	bottom:0px;
	left:0px;
}
.slider-top{
	width:100%;
	height:26px;
	background:#61676e;
	padding-top:3px;
	position:absolute;
	top:17px;
	opacity:.8;
}
.slider-top a{
	font-family:'Arial', sans-serif;
	color:white;
	font-size:10.67px;
	text-decoration:none;
	text-transform:uppercase;
	margin:0 0 0 90px;
}
.slider-bottom{
	width:100%;	
	height:72px;
	background:#61676e;
	position:absolute;
	bottom:0px;
	opacity:.8;
}
.slider-bottom ul{
	margin-left:45px;
}
.slider-bottom ul li{
	float:left;
	margin-right:10px;
	opacity:1;
}
.slider-bottom ul li img{
	opacity:0.7;
}
.slider-bottom ul li img:hover{
	opacity:1;
}
#right-arrow{
	margin-right:0px;
}
.left-arrow{
	position:absolute;
	bottom:9px;
	left:6px;
	z-index:1;
}
.right-arrow{
	position:absolute;
	bottom:9px;
	right:6px;
	z-index:1;
}
.rotator{
	width:552px;
	height:94px;
	position:relative;
}
#left-arrow2{
	position:absolute;
	bottom:15px;
	left:6px;
}
#right-arrow2{
	position:absolute;
	bottom:15px;
	right:6px;
}
.rotator ul li{
	float:left;	
	margin-right:-0.9px;
	opacity:0.8;
}
.rotator ul li:hover{
	opacity:1;
}
.review{
	width:100%;
	background:-webkit-linear-gradient(270deg, #9d9d9d 0%, #d6d6d6 1%, #d6d6d6 1%, #ffffff 5%);
}
.path-review p{
	width:280px;
	height:28px;
	padding:10px 0px 0 30px;
	position:relative;
	display:inline-block;
}
p.path1:before{
	content:"";
	width:14px;
	height:14px;
	background:url(../images/review-btn.png);
	position:absolute;
	left:10px;
	top:12px;
}
.path-review p a{
	font-family:"Arial";
	font-size:12px;
	width:270px;
	text-decoration:none;
	color:black;
}
.path-review p a:hover{
	text-decoration:underline;
}
.path-review img{
	margin-bottom:-2px;
}
.title-review{
	width:100%;
	height:33px;
	background:black;
}
.title-review a, .title-review p{
	float:left;
}
a.rev1{
	text-decoration:none;
	color:#ef8605;
	text-transform:uppercase;
	font-family:"Arial";
	font-size:10.67px;
	padding:10px 0 0 0;
}
a.rev1:hover{
	text-decoration:underline;
}
.title-review img{
	margin:0 10px 0 10px;
}
#trh1, #trh2{
	float:right;
	padding-top:2px;
	width:26px;
}
#trh2{
	margin-right:15px;
}
.post-review{
	width:528px;
	padding:0 12px 21px 12px;
}
.top-part{
	width:100%;
	height:22px;
	margin-top:-2px;
	position:relative;
}
.top-part:before{
	content:"";
	width:100%;
	height:7px;
	background:url(../images/top-part-underline.png);
	bottom:-3px;
	left:1px;
	position:absolute;
}
.top-part a{
	height:auto;
	font-family:"Arial";
	font-size:9.33px;
	width:17%;
	position:relative;
	padding: 1px 0px 0 0px;
	display:inline-block;
	text-decoration:none;
}
.top-part span{
	font-size:9px;
}
.top-part a:hover{
	text-decoration:underline;
}
.top-part #before-a:before{
	content:"";
	background:url(../images/top-par-point.png);
	width:14px;
	height:14px;
	display:block;
	position:absolute;
	top:-2px;
	left:-16px;
}
.top-part a:nth-child(4){
	width:7%;
	margin-left:20px;
}
.top-part #last-a{
	width:7%;
}
.post-review .top-part img{
	float:right;
	margin-top:-15px;
}
.middle-part{
	width:100%;
	padding:8px 0 6px;
	overflow:hidden;
}
.middle-pic-a{
	display:inline-block;
}
.middle-part p{
	width:67%;
	color:#7d7d7d;
	font-family:"Arial";
	font-size:10.67px;
	margin-left:5px;
	display:inline-block;
	vertical-align:top;
	line-height:17px;
}
.middle-part p span{
	color:#2f2f2f;
	font-weight:bold;
}
.bottom-part{
	width:100%;
}
.left-line{
	width:336px;
	height:15px;
	background:url(../images/bottom-part-line.png);
	display:inline-block;
	vertical-align:middle;
}
.bottom-comm{
	display:inline-block;
	font-family:"Arial";
	color:black;
	font-size:10.67px;
	margin-left:10px;	
}
.right-btn{
	width:75px;
	height:18px;
	background:url(../images/bottom-btn.png);
	font-family:"Arial";
	color:black;
	font-size:10.67px;
	display:inline-block;
	vertical-align:top;
	text-align:center;
	text-decoration:none;
	padding-top:4px;
	margin-left:10px;
}
#left-bottom-arrow, #right-bottom-arrow{
	display:inline-block;
	vertical-align:middle;
}
.bottom-nav-block{
	width:266px;
	height:32px;
	margin:0 auto;
	margin-top:25px;
}
.bottom-nav-block2{
	width:206px;
	height:32px;
	display:inline-block;
	vertical-align:middle;
}
nav.bottom-count{
	background:black;
	padding:5px;
	justify-content:center;
	display:flex;
}
nav.bottom-count ul li{
	float:left;
	margin-left:3px;
}
.bottom-count ul li a.active{
	color:white;
}
nav.bottom-count ul li:last-child{
	margin-right:3px;
}
nav.bottom-count ul li a{
	color:#ef8605;
	font-family:"Arial";
	font-size:13.34px;
}
nav.bottom-count ul li a:hover{
	text-decoration:underline;
}
.bottom-banner{
	width:100%;
	height:79px;
	box-shadow:0px 1px 2px black;
}
#bot-btn{
	display:inline-block;
	vertical-align:middle;
}
.bot-banner{
	display:inline-block;
	vertical-align:middle;
	margin-left:20px;
}

/*правый сайдбар*/

.right-sidebar{
	width:206px;
	height:auto;
	background:#1f1f1f;
	display:inline-block;
	vertical-align:top;
}
.right-sidebar-gal{
	width:100%;
	height:auto;
	overflow:hidden;
	background:#1a1a1a;
	margin-bottom:13px;
}
.gallery-title{
	width:206px;
	height:27px;
	background:url(../images/gallery-title.png);
	text-transform:uppercase;
	color:#e58106;
	padding-top:13px;
	margin-bottom:13px;
}
h4.gallery-title{
	font-family:"Arial";
	letter-spacing:-.9px;
	text-align:center;
	font-size:13.34px;
}
.gallery-pic{
	width:100%;
}
.gallery-pic a{
	display:inline-block;
	margin:0px 0px 5px 15px;
}
a.gal-btn{
	color:black;
	text-decoration:none;
	font-family:"Arial";
	font-size:10.67px;
	text-align:center;
}
.gal-btn{
	width:77px;
	height:17px;
	background:-webkit-linear-gradient(270deg, #ef8605 30%, #8a4b18 70%);
	float:right;
	padding-top:4px;
	margin:10px 17px 0 0;
}
#video{
	padding-top:13px;
	position:relative;
}
.gallery-video{
	display:inline-block;
	width:48%;
	vertical-align:top;
}
.gallery-video p{
	width:84%;
	font-family:"Arial";
	color:#e58106;
	font-size:9.33px;
	margin:0 auto 0 15px;
	text-align:center;
}
#reklama a{
	display:block;
	margin:10px 0px 30px 13px;
}
#opros h6{
	color:#e58106;
	text-align:center;
	margin-bottom:15px;
}
#opros p{
	color:white;
	font-family:"Arial";
	font-size:10.67px;
	margin-left:17px;
	padding-top:5px;
}
#opros p span{
	padding-left:5px;
}
#opros button{
	background:transparent;
	border:0px;
	color:white;
	padding:5px 0 0 3px;;
}	
.button1, .button2{
	display:inline-block;
	margin:20px -20px 0 17px;
	margin-top:20px;
}
#subm, #rez{
	width:80px;
	height:23px;
	border:0px;
	cursor:pointer;
}
#subm{
	background:url(../images/button-vote.png);
}
#rez{
	background:url(../images/button-rez.png);
}
.footer-line{
	width:992px;
	height:15px;
	background:-webkit-linear-gradient(270deg, #1d1d1d 13%, #1a1a1a 20%, #1f1f1f 40%, #222222 64%, #222222 36%, #202020 36%, #1f1f1f 46%);
	margin:2px auto 2px auto;
	border-top:1px solid #2b2b2b;
}
footer{
	width:990px;
	height:104px;
	margin:2px auto 2px auto;
	border:1px solid #252525;
}
.footer-logo, .footer-copyright, .footer-right-block{
	height:100%;
	display:inline-block;
	margin-right:-4px;
	position:relative;
}
.footer-logo{
	width:230px;
	vertical-align:top;
}
.footer-logo:after, .footer-copyright:after{
	content:"";
	width:1px;
	height:80%;
	background:-webkit-linear-gradient(270deg, #121212 0%, #323232 57%, #121212 84%);
	position:absolute;
	right:0px;
	top:10px;
}
.footer-logo img{
	float:left;
	margin:30px 0px 0 40px;
}
.footer-logo h2{
	float:right;
	text-transform:uppercase;
	font-family: 'Pathway Gothic One', sans-serif;
	font-size:24px;
	color:#b85200;
	margin:40px 35px 0 0;
	letter-spacing: 1px;	
}
.footer-logo h2 a{
	text-decoration:none;
}
.footer-logo h2:hover{
	color:#c87838;
}
.footer-copyright{
	width:450px;
	vertical-align:top;
	overflow:hidden;
}
.footer-copyright p{
	color:white;
	font-size:12px;
	margin:10px;
	font-family:"Arial";
	font-size:12px;
}
.footer-copyright p span{
	color:#9c9c9c;
	font-size:10.67px;
	font-family:"Arial";
}
.footer-copyright a{
	float:right;
	font-family: 'Cuprum', sans-serif;
	font-size:14.6px;
	font-weight:bold;
	color:#323232;
	text-decoration:none;
	padding:0px 15px 0 0;
}
.footer-copyright a:hover{
	text-decoration:underline;
}
.footer-right-block{
	width:310px;
	height:auto;
}
.footer-right-block1{
	width:178px;
	height:85px;
	padding:20px 0 0 52px;
	display:inline-block;
}
.footer-right-block1 ul li{
	display:inline-block;
}
.footer-btn-block{
	display:inline-block;
	padding:0 0 45px 12px;
	vertical-align:middle;
	
}