<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Plagin and template</title>
    <script src="js/jquery-3.1.0.min.js"></script>
    <script src="js/jquery.motoCarousel.js"></script>
    <script src="js/tmpl.js"></script>
    <script src="js/js.js"></script>
    <link rel="stylesheet" type="text/css" href="css/style.css">
</head>

<body>
    <div class="carousel-hide motocarousel">
        <ul class="carousel-list">
            <li class="carousel-element"><img src="img/image1.jpg">
            </li>
            <li class="carousel-element"><img src="img/image2.jpg">
            </li>
            <li class="carousel-element"><img src="img/image3.jpg">
            </li>
            <li class="carousel-element"><img src="img/image4.jpg">
            </li>
            <li class="carousel-element"><img src="img/image1.jpg">
            </li>
            <li class="carousel-element"><img src="img/image2.jpg">
            </li>
            <li class="carousel-element"><img src="img/image3.jpg">
            </li>
            <li class="carousel-element"><img src="img/image4.jpg">
            </li>
            <li class="carousel-element"><img src="img/image1.jpg">
            </li>
            <li class="carousel-element"><img src="img/image2.jpg">
            </li>
            <li class="carousel-element"><img src="img/image3.jpg">
            </li>
            <li class="carousel-element"><img src="img/image4.jpg">
            </li>
        </ul>
        <div class="arrow-wrapper">
            <div class="carousel-arrow-left"></div>
            <div class="carousel-arrow-right"></div>
        </div>
    </div>
    <script type="text/template" id="profile">
        <div class="wrapper">
            <section class="aboutme">
                <h3><%= name %></h3>
                <img src="img/myavatar.jpg" alt="My avatar">
                <p><%= profession %></p>
            </section>
            <section class="whyfrontend">
                <p><%= why %></p>
                <ul>
                    <li><%= whyFirst %></li>
                    <li><%= whySecond %></li>
                </ul>
            </section>
            <section class="contacts">
                <p><%= contactsFirst %></p>
                <p><%= contactsSecond %></p>
                <p><%= contactsThird %></p>
                <a href="http://www.facebook.com/nefaslex"><%= contactsFours %></a>
            </section>
            <section class="feedback">
                <p><%= feedbackFirst %></p>
                <p><%= feedbackSecond %></p>
            </section>
        </div>
    </script>
</body>
