.button {
	display: inline-block;
	border: none;
	color: #fff;
	text-decoration: none;
	background-color: #ff5c36;
	padding: 10px 45px;
	font-size: 13px;
	border-radius: 30px;
	text-align: center;
	position: relative;
	margin-top: 10px;
	outline: none;
	transition: background-color .1s ease;
	position: relative;
	&::after {
		content: '\f178';
		font-family: FontAwesome;
		position: absolute;
		right: 25px;
		top: 10px;
		color:#fff;
	}
	&:focus, &:hover {
		text-decoration: none;
		color: #fff;
	}
	&:hover {
		background-color: lighten($accent, 5%);
		&::after {
			opacity: .60;
		}
	}
	&:active {
		background-color: darken($accent, 5%);
		&::after {
			opacity: .70;
		}
	}	
}
.white-button {
	background-color: #ffffff;
	color: $maincolor;
	box-shadow: 0px 5px 15px 0px #cecdcd;
	padding-left: 60px;
	&::after {
		content: '\f067';
		font-family: FontAwesome;
		font-weight: 300;
		position: absolute;
		left: 40px;
		top: 10px;
		width: 5px;
		height: 5px;
		color: $maincolor;
	}
	&:focus, &:hover {
		text-decoration: none;
		color: $maincolor;
	}
	&:hover {
		background-color: #cecdcd;
		&::after {
			opacity: .60;
		}
	}
	&:active {
		background-color: darken(#cecdcd, 5%);
		&::after {
			opacity: .70;
		}
	}
}