@import "vars";

/*==========  Desktop First  ==========*/

/* Large Devices, Wide Screens */

@media only screen and (max-width : 1366px) {

}

@media only screen and (max-width : 1200px) {
	.s-working .item-block button {
		left: 11%;
	}
	.s-team .about-container .about-name {
		left: 4%;
	}
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
	.h1 {
		font-size: 45px;
		span {
			font-size: 45px;
		}
	}
	.s-working .item-block .white-button:after {
		left: 20px;
		top: 10px;
	}
	.s-working .item-block .white-button {
		padding-left: 40px;
	}
	.s-working .item-block button {
		padding: 10px 14px;
	}
	.s-team .about-container {
		height: 370px;
	}
	.s-team .about-container .about-name {
		width: 200px;
		left: 4%;
	}
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
	.s-working .flex {
		margin-top: 30px;
	}
	.s-working .item-block button {
		left: 25%;
	}
	.s-review .owl-carousel .owl-nav .owl-prev {
		left: -10px;
	}
	.s-review .owl-carousel .owl-nav .owl-next {
		right: -10px;
	}
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {

}
/* 5.5 inch display */

@media only screen and (max-width : 430px) {

}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}

/*==========  Mobile First  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}
	/**/


/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}
	/**/


/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}
	/**/


/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}
	/**/


/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}
	/**/
